* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.tabs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabs li {
    list-style-type: none;
    padding: 3px;
    margin: 0 2px 0 2px;
    background-color: grey;
    color: white;
}

.tabs .colon {
    display: flex;
    flex-direction: column;
}

.tabs .colon .dot {
    background-color: grey;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    animation: transparant 0.5s alternate ease-in-out infinite;
}

.tabs .colon .dot:first-child {
    margin-bottom: 3px;
}

.tabs .colon .dot:last-child {
    margin-top: 3px;
}


/* .box {
    background-color: grey;
    width: 30px;
    height: 60px;
    position: relative;
}

.line:first-child {
    position: absolute;
    left: 0;
    top: 0;
    background-color: red;
    width: 5px;
    height: 50%;
    margin: 3px 0 5px 3px;
    border-radius: 25%;
}

.line:nth-child(2) {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: red;
    width: 5px;
    height: 50%;
    margin: 3px 5px 0 3px;
    border-radius: 25%;
}

.line:nth-child(3) {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: red;
    width: 80%;
    height: 5px;
    margin: 3px 3px 0 3px;
    border-radius: 25%;
} */

@keyframes transparant {
    from {
        background-color: rgba(128, 128, 128, 1);
    }
    to {
        background-color: rgba(128, 128, 128, 0)
    }
}